html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-size-adjust: 100%;
  user-select: none;
  font-family: '三极行楷简体', sans-serif !important;
  background-color: #1a1a1a;
  cursor:
    url('~@/assets/images/default.png') 1 1,
    auto;
}

[style*='cursor: pointer'],
button,
.cursorPointer,
.ant-tabs-tab,
.ant-tabs-dropdown-menu-item,
a {
  cursor:
    url('~@/assets/images/pointer.png') 1 1,
    pointer !important;
}

div,
span,
p,
h1,
h2,
h3,
h4,
input,
textarea,
select,
option {
  font-family: '三极行楷简体', sans-serif !important;
}
