@import url('@/assets/less/variables');

.menu {
  display: flex;
  height: 40px;
  padding: 0 32px;
  background: linear-gradient(to right, #2a2a2a, #1a1a1a);
  color: #e0e0e0;
  border-bottom: 1px solid rgb(255 255 255 / 10%);
  align-items: center;
  overflow: auto hidden;

  .menuItem {
    display: flex;
    height: 100%;
    min-width: 64px;
    padding: 0 16px;
    margin-right: 24px;
    line-height: 40px;
  }
}
